@media (min-width: 992px) and (max-width: 2500px){
    
    
    body{
        background-color: rgb(0, 0, 0);
        
    }
    /*navbar*/

    .navbar{
        background-color: rgb(0, 0, 0);
    }


    .container-fluid .logo img{
        width: 13vw;
        height: 13vh;
    }

    .container-fluid button{
        color: transparent;
        background-color: white;
    }
    .navbar-nav .nav-link{
        color: blueviolet;

    }
    .navbar-nav .nav-link:hover{
        color: red;
    }

    /*Section*/
    section{
        width: 100%;
    }

    /*-----carousel-----*/

    .carousel-inner{
        width: 100%;
        height: 50%;
    }
    .carousel-item img{
        width: 100%;
        height: 10%;
    }


    .informacion{
        width: 100%;
    }
    .informacion h1{
        font-family: 'roboto', sans-serif;
        font-size: 2em;
        text-align: center;
        text-decoration:underline 3px ;
    
    }
    .informacion p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin: 1%;
    }


    /*<------Cards----->*/

    .contenedorcards h1{
        font-family: 'roboto', Times, serif;
        font-size: 2em;
        text-align: center;
        text-decoration:underline 1px ;
    }


    .card{
        box-sizing: border-box;
        margin: 2%;
        border: 3px solid rgba(137, 205, 232);
        background-color: rgb(140, 30, 140);
        color: rgb(255, 255, 255);
    }



    /*<----Aside----->*/

    aside{
     width: 100%;
        
    }
    
    aside h1{
        font-family: 'Roboto', Times, serif;
        font-size: 2em;
        text-align: center;
        text-decoration:underline 1px ;
        color: red;
    }
    
    .contenedorgaleria{
        display: flex;
        padding: 2px;
        flex-wrap: wrap;
    }
    .column{
        margin: 3px;
        flex: 23%;
    }
    .column img{
        margin-right: 1px;
        margin-bottom: 3px;
        border: white 1px solid;
        width: 100%;
        height: 25%;
    }
    .column img:hover{
        transform: scale(1.1);
        transition: 0.5s;
        border: black solid 3px;
    }

    

/*<-----Footer---->*/
    footer{
        width: 100%;
    }
    footer h1{
        font-family: 'roboto', Times, serif;
        font-size: 2.5em;
        text-align: center;
        text-decoration:underline 1px ;
    }

    video{
        background-color: black;
        width: 49vw;
        height: 40vh;
    }
    .mapa{
        width: 49vw;
        height: 40vh;
    }
    .direccion{
        width: 98%;
        display: flex;
        justify-content: center;   
        align-items: center;
        flex-direction: column;
        /*border: black solid 3px;
        background-color: rgb(243, 0, 0);*/
        
    }
    .direccion p{
        text-align: center;
        color: black;
        font-size: 1.6rem;
    }

    
    .socialmedia{
        display: flex;
        justify-content: center;
        
    }
    
    .socialmedia img{
        margin: 5px;
        width: 12vw;
        height: 10vh;
        
        border-radius: 50%;
        border: black solid 2px;
    }
    .container-boton{
        background-color: #64ed64af;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }
    
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    
    .boton{
        width: 4vw;
        transition: ease 1s;
    }







}